<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css" nonce="">
        body,
        td,
        div,
        p,
        a,
        input {
            font-family: arial, sans-serif;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://www.google.com/a/iiita.ac.in/images/favicon.ico" type="image/x-icon">
    <title>Welcome To Inclusivo! 🥳</title>
    <style type="text/css" nonce="">
        body,
        td {
            font-size: 13px
        }

        a:link,
        a:active {
            color: #1155CC;
            text-decoration: none
        }

        a:hover {
            text-decoration: underline;
            cursor: pointer
        }

        a:visited {
            color: ##6611CC
        }

        img {
            border: 0px
        }

        pre {
            white-space: pre;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
            word-wrap: break-word;
            max-width: 800px;
            overflow: auto;
        }

        .logo {
            left: -7px;
            position: relative;
        }
    </style>
</head>

<body>
    <div class="bodycontainer">
        <div class="maincontent">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="message">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <table width="100%" cellpadding="12" cellspacing="0" border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="overflow: hidden;">
                                                <font size="-1"><u></u>
                                                    <div
                                                        style="font-family:-apple-system,BlinkMacSystemFont,&#39;Segoe UI&#39;,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;;font-size:16px;height:100%!important;line-height:1.5;margin:0;padding:0;width:100%!important;background-color:#fff">
                                                        <table
                                                            style="border-collapse:separate!important;width:100%;background-color:#fff"
                                                            width="100%" bgcolor="#ffffff">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="font-family:&#39;-apple-system&#39;,BlinkMacSystemFont,&#39;Segoe UI&#39;,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;;font-size:16px;vertical-align:top"
                                                                        valign="top"></td>
                                                                    <td style="font-family:&#39;-apple-system&#39;,BlinkMacSystemFont,&#39;Segoe UI&#39;,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;;font-size:16px;vertical-align:top;display:block;margin:0 auto!important;max-width:580px;padding:30px 30px 0px 30px;width:580px"
                                                                        width="580" valign="top">
                                                                        <div
                                                                            style="display:block;margin:0 auto;max-width:580px">
                                                                            <span
                                                                                style="color:transparent;display:none;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;width:0">Welcome
                                                                                To Inclusivo!</span>
                                                                            <div
                                                                                style="width:100%;padding-top:10px;padding-bottom:10px;margin-bottom:20px;border-bottom:1px solid #eee">
                                                                                <table
                                                                                    style="border-collapse:separate!important;width:100%"
                                                                                    width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="font-family:&#39;-apple-system&#39;,BlinkMacSystemFont,&#39;Segoe UI&#39;,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;;font-size:16px;vertical-align:top"
                                                                                                valign="top">
                                                                                                <a 
                                                                                                    style="color:#0366d6;text-decoration:underline"
                                                                                                    target="_blank"
                                                                                                    data-saferedirecturl="">
                                                                                                    <img src="https://firebasestorage.googleapis.com/v0/b/inclusivo-job.appspot.com/o/admin%2Finclusivo_logo.png?alt=media&token=bca2c7b6-e2a1-4298-ada8-ed4091401080"
                                                                                                        width="150"
                                                                                                        height="22"
                                                                                                        alt="Inclusivo"
                                                                                                        style="max-width:100%"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <p
                                                                                style="font-family:&#39;-apple-system&#39;,BlinkMacSystemFont,&#39;Segoe UI&#39;,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;;font-size:16px;font-weight:normal;line-height:1.5;margin:0;margin-bottom:15px">
                                                                            </p>

                                                                            <h2
                                                                                style="color:#111111!important;font-family:&#39;-apple-system&#39;,BlinkMacSystemFont,&#39;Segoe UI&#39;,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;;font-weight:500;line-height:1.25;margin:0 0 12px;font-size:28px">
                                                                                Hello {{employer_first_name}} {{employer_last_name}}!</h2>


                                                                                <p> Candidate {{user_first_name}} {{user_last_name}} has successfully submitted an application for the role of {{job_title}} to your company {{company_name}}. Here is a message from {{user_first_name}} on why he/she/they are a good fit for the role!
                                                                                    <br><br>{{message_from_candidate}}<br>
                                                                                    <br>Please Check out the application on your company dashboard. If you are interested in the candidate's profile, don't forget to update the application status. Thanks for working with Inclusivo!
                                                                                </p>                            <h2

                                                                                    <p
                                                                                        style="font-family:&#39;-apple-system&#39;,BlinkMacSystemFont,&#39;Segoe UI&#39;,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;;font-weight:normal;margin:0;margin-bottom:15px;color:#999999;font-size:12px;line-height:18px">
                                                                                        You're receiving this email
                                                                                        because you're registered for
                                                                                        Inclusivo.
                                                                                        Our emails are infrequent and
                                                                                        always useful.</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="font-family:&#39;-apple-system&#39;,BlinkMacSystemFont,&#39;Segoe UI&#39;,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;;font-size:16px;vertical-align:top"
                                                                        valign="top"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <img src="./example_files/unnamed.gif" height="1" width="1">
                                                    </div>
                                                </font>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="volume-booster-visusalizer">
        <div class="sound">
            <div class="sound-icon"></div>
            <div class="sound-wave sound-wave_one"></div>
            <div class="sound-wave sound-wave_two"></div>
            <div class="sound-wave sound-wave_three"></div>
        </div>
        <div class="segments-box">
            <div data-range="1-20" class="segment"><span></span></div>
            <div data-range="21-40" class="segment"><span></span></div>
            <div data-range="41-60" class="segment"><span></span></div>
            <div data-range="61-80" class="segment"><span></span></div>
            <div data-range="81-100" class="segment"><span></span></div>
        </div>
    </div>
</body>

</html>
