::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: rgba(256,256,256,0.15);
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 10px;
}